# rest
einops
plotly
torch
datasets
dotenv
jaxtyping
scikit-learn
tqdm
ipykernel
ipywidgets
nbformat

# chatper 1
huggingface_hub
transformer_lens
bitsandbytes
kernels
git+https://github.com/callummcdougall/CircuitsVis.git#subdirectory=python

# 1.3.3.
openai
sae_lens
sae_vis
frozendict
tabulate
