# jupyter kernel to run cells in vscode
ipykernel

# managing environments
python-dotenv

# stuff necessary for chapter 0.0
einops
numpy
torch
plotly
nbformat

# stuff necessary for chapter 0.1
ipywidgets
jaxtyping
tqdm
pandas
anywidget

# stuff necessary for chapter 0.2
torchinfo
pillow
rich
torchvision
matplotlib

# stuff necessary for chapter 0.3
wandb
scikit-learn